#root {
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;
}

body {
  display: flex;
  justify-content: center;
  min-width: 400px;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .main .header {
    flex-direction: column;
  }
}

.header .logo {
  width: 100px;
  height: 56px;
}

.main .progressBar {
  display: flex;
  flex-direction: row;
}

.progressBar .progressElement {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-size: 14px;
}

.progressElement .counter {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  border-radius: 50%;
  color: white;
  min-width: 20px;
  height: 20px;
}

.progressElement .title {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .progressElement .title {
    display: none;
  }

  .progressElement .climate {
    display: flex;
  }
}

.main .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

@media (max-width: 960px) {
  .main .content {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 20px;
  }
}

.content .sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar .basketSummary {
  border: 1px solid grey;
  padding: 20px 10px;
  margin: 20px;
}

.basketSummary .title {
  height: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.basketSummary .collectedProducts {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.basketSummary .collectedProducts {
  display: flex;
  flex-direction: row;
}

.collectedProducts .image {
  display: flex;
  flex-direction: row;
  width: 94px;
  height: 62px;
  margin-right: 5px;
}

.productInfo .name {
  font-weight: bold;
}

.productInfo .keyValue {
  display: flex;
  flex-direction: row;

}

.keyValue .key {
  margin-right: 6px;
}

.bold {
  font-weight: bold;
}

.basketSummary .summary {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
