#root {
  background-color: lightgrey;
  padding: 10px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
}

.main .header .logo {
  width: 100px;
  height: 56px;
}

.main .progressBar {
  display: flex;
  flex-direction: row;
}

.main .progressBar .progressElement {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-size: 14px;
}

.main .progressBar .progressElement .counter {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  border-radius: 50%;
  color: white;
  min-width: 20px;
  height: 20px;
}

.main .progressBar .progressElement .title {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.main .content .sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.main .content .sidebar .basketSummary {
  border: 1px solid grey;
  padding: 20px 10px;
}

.main .content .sidebar .basketSummary .title {
  height: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.main .content .sidebar .basketSummary .collectedProducts {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.main .content .sidebar .basketSummary .collectedProducts {
  display: flex;
  flex-direction: row;
}

.main .content .sidebar .basketSummary .collectedProducts .image {
  display: flex;
  flex-direction: row;
  width: 94px;
  height: 62px;
  margin-right: 5px;
}

.productInfo .name {
  font-weight: bold;
}

.productInfo .keyValue {
  display: flex;
  flex-direction: row;

}

.keyValue .key {
  margin-right: 6px;
}

.bold {
  font-weight: bold;
}

.basketSummary .summary {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
